<p>Ask your coach anything:</p>
<form action="answer" data-turbo="false" class="input-group">
  <input class="form-control flex-grow-0 w-25" type="text" name="ask">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
